{:paths ["src" "classes"]
 :java-source-paths ["src/java"]

 :mvn/repos
 {"clojars" {:url "https://repo.clojars.org/"}}

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.locationtech.jts/jts-core {:mvn/version "1.19.0"}
  io.github.humbleui/types {:mvn/version "0.1.2"}

  ;; nREPL for interactive development
  nrepl/nrepl {:mvn/version "1.1.1"}
  cider/cider-nrepl {:mvn/version "0.47.1"}

  ;; LWJGL for windowing
  org.lwjgl/lwjgl {:mvn/version "3.3.1"}
  org.lwjgl/lwjgl-glfw {:mvn/version "3.3.1"}
  org.lwjgl/lwjgl-opengl {:mvn/version "3.3.1"}}

 :aliases
 {:macos-arm64
  {:extra-deps
   {io.github.humbleui/skija-macos-arm64 {:mvn/version "0.116.1"}
    org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.3.1"}
    org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.3.1"}
    org.lwjgl/lwjgl-opengl$natives-macos-arm64 {:mvn/version "3.3.1"}}
   :jvm-opts ["-XstartOnFirstThread"]}

  :macos-x64
  {:extra-deps
   {io.github.humbleui/skija-macos-x64 {:mvn/version "0.116.1"}
    org.lwjgl/lwjgl$natives-macos {:mvn/version "3.3.1"}
    org.lwjgl/lwjgl-glfw$natives-macos {:mvn/version "3.3.1"}
    org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.3.1"}}
   :jvm-opts ["-XstartOnFirstThread"]}

  :linux-x64
  {:extra-deps
   {io.github.humbleui/skija-linux-x64 {:mvn/version "0.116.1"}
    org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.1"}
    org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.1"}
    org.lwjl/lwjgl-opengl$natives-linux {:mvn/version "3.3.1"}}}

  :windows-x64
  {:extra-deps
   {io.github.humbleui/skija-windows-x64 {:mvn/version "0.116.1"}
    org.lwjgl/lwjgl$natives-windows {:mvn/version "3.3.1"}
    org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.3.1"}
    org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.3.1"}}}

  :test
  {:extra-paths ["test"]
   :main-opts ["-m" "silent-king.test-runner"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.09.07"}}
   :main-opts ["-m" "clj-kondo.main"]}

  :format
  {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.5"}}
   :main-opts ["-m" "cljfmt.main"]}}}
